<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This weather application leverages APIs from mapbox.com and weatherstack.com to quickly display current weather in your location. A simple tool created by {{name}} to explore Node.JS.</p>
        <img class="portrait" src="/img/robot.jpg">
    </div>
    
    {{>footer}}
</body>

</html>